label, input[type=button], input[type=submit], button
                      {cursor: pointer}
input[type="radio"]   {vertical-align: text-bottom}
input[type="checkbox"]
                      {vertical-align: bottom; *vertical-align: baseline}
.ie6 input            {vertical-align: text-bottom}

button                {width: auto;overflow: visible}


// Global form / input styles
// --------------------------------------------------------------
input, textarea       {@include box-shadow(#d6d6cd,0,1px,1px); @include border-radius(3px); border: 1px solid #d4d4cc;}

input, textarea, label, select
                      {font-size:1.1em;margin: 0 0 8px 0;padding:6px}

ul.in-line input, ul.in-line textarea, li select
                      {margin: 0}

input:hover, input:active, input:focus,
textarea:hover, textarea:active, textarea:focus,
.input-focus, .edit-inline:hover, .edit-inline:focus
                      {background: #fdfbe4;border-color:#c9c9c0}

input.error, textarea.error
                      {border-color:#f1766e;}


input:active, input:focus,
textarea:active, textarea:focus,
.input-focus, input.search:hover, input.search:focus
                      {@include box-shadow(#6EB6D6,0,0,3px);border-color: #a3e6ff}

.input-simple, .input-simple:hover, .input-simple:focus,
input[type="radio"], input[type="checkbox"],
input.edit-inline, textarea.edit-inline
                      {@include experimental(box-shadow, 0 0);background:transparent;@include border-radius(0);border:0 none;color: #777}

.placeholder,
.placeholder.edit-inline:hover
                      {color:#bbb}
input.placeholder:hover,
textarea.placeholder:hover
                      {color:#dbdbdb}
input.placeholder:focus
                      {color:#444}

input.search, input.search:hover, input.search:focus
                      {background-image: url(/images/search.png);background-position: 7px 5px;background-repeat: no-repeat}
input.search          {@include border-radius(6px);border-color:#e2e4e6;@include box-shadow(#ddd,0,1px,0);font-size:1.2em;padding: 4px 5px 4px 34px;margin:.3em 0 1em 0; width: 200px;}
input.search:hover    {border-color: #ddd}


// Buttons buttons, whose got the buttons.
// --------------------------------------------------------------
.btn                  {@include box-shadow(#fff,0,1px,0);background: #edeff2;@include linear-gradient(color-stops(#fefefe, #edeff2 55%, #e4e6e9),center top);@include border-radius(4px);border: 1px solid #d4d4cc; @include inline-block;color:#6c7786;font-size:1.1em;padding:5px 11px;text-shadow:#fefefe 1px 1px}
.panel .btn, .tray .btn {
  border-color: #ccc;
}
.btn:hover, .btn:focus
                      {@include box-shadow(#129ceb,0px,0px,2px);background:#e6e9eb;@include linear-gradient(color-stops(#f7f7f7, #f6f6f7 55%, #e6e9eb),center top);color:#45484b;text-shadow:#fff 1px 1px;border-color:#c9c9c0}

.btn-primary          {@include experimental(box-shadow, 0 0 0);background:#e67646;@include linear-gradient(color-stops(#eb9972, #e67646 55%, #d2572b),center top);@include border-radius(6px);border-width:1px;border-style:solid;border-color: #e67646 #e67646 #bc6647;font-size: 1.5em;font-weight: 500;color:#fff;text-shadow: #d2572b 1px 1px;padding: .5em .9em}
.btn-primary:hover,
.btn-primary:focus
                      {background:#eb9972;@include linear-gradient(color-stops(#f4a980, #eb9972 55%, #e67646),center top);border-color: #eb9972 #eb9972 #d2572b;color:#fff;text-shadow: #d2572b 1px 1px}

.btn-secondary,
.btn-secondary:hover,
a.btn-secondary,
a.btn-secondary:hover
                      {background:#f4e34e;@include linear-gradient(color-stops(#fdf07a, #f4e34e 45%, #ecc90a),center top);border: 1px solid #ecc90a;color:#a46a44;text-shadow: #fff7b1 1px 1px}
header#Global, #Auth  {
  .btn-secondary      {@include experimental(box-shadow, 0 0 0)}
}

.btn-secondary:hover,
a.btn-secondary:hover,
.btn-secondary:focus,
a.btn-secondary:focus
                      {color:#9f3f00}

.btn-tertiary         {@include border-radius(5px);padding:4px 12px;font-size:1em}


// default active state for all btns
.btn:active, a.btn:active, .btn.disabled, a.btn.disabled
                      {background:#bbb;@include linear-gradient(color-stops(#ddd, #ccc 55%, #bbb),center top);border-color: #aaa #bbb #bbb;color:#888;text-shadow:#ededed 1px 1px}


.btn:active:hover, a.btn:active:hover, .btn.disabled:hover, a.btn.disabled:hover
                      {@include experimental(box-shadow, 0 0 0);color:#8a8a8a}
// Form layout
// --------------------------------------------------------------
label                 {display:block;margin-bottom:5px;padding:0 2px}
fieldset              {
  ul                  {margin:0;padding: 0 0 1em;
    ul                {margin:0 .7em}
    li                {padding:7px 0 5px;margin:0 5px 2px;
      input,
      textarea,
      select          {margin-bottom:0}
      li              {margin:0 .3em .3em}
    }
    ul.in-line        {margin:0;}
    &.in-line li      {margin:0 .3em;vertical-align:middle}
    &.in-line li label{padding:4px 4px 0;margin:0}
  }
  label input         {margin:0 5px 0 0;}
}


// Special Form sizes
// --------------------------------------------------------------
input.mini,
input.dm              {width : 20px;} // use for really small inputs like date and month
input.yy              {width : 40px;} // use for year inputs
