/* 1.BODY and PAGE
---------------------------------------------------------------------- */

body { font-family:"Times New Roman", Times, Cambria, serif; font-size:13px; line-height:22px; color:#333; background:#FFFAFA url(http://colly.com/images/site/paper-tile.jpg); }
