/* 7.SITEINFO/FOOTER
---------------------------------------------------------------------- */

div#siteinfo { position:relative; clear:both; text-align:center; padding:125px 0 0px 0; color:#999; background:url(http://colly.com/images/site/deranged.png) no-repeat top center; }
div#siteinfo p { margin:0; padding:0; }
div#siteinfo p span { font-family:Courier,monospace; color:#fca0a5; }
div#siteinfo a:link, a:visited { text-decoration:underline; color:#beb2b2; }
