/* 6.NAVIGATION
---------------------------------------------------------------------- */

@mixin label-bg($name, $img, $repeat: no-repeat) {
  ul li##{$name} a span.label { background:url(http://colly.com/images/site/n-#{$img}.png) $repeat center bottom; }
}

@mixin internal-reference-selection($name) {
  .#{$name} ul li##{$name} { @extend .selected-internal-reference; }

  @if $name != "biography" { .#{$name} ul li#biography { @extend .unselected-internal-reference; } }
  @if $name != "journal"   { .#{$name} ul li#journal   { @extend .unselected-internal-reference; } }
  @if $name != "archive"   { .#{$name} ul li#archive   { @extend .unselected-internal-reference; } }
  @if $name != "contact"   { .#{$name} ul li#contact   { @extend .unselected-internal-reference; } }
}

@mixin internal-reference($name, $img) {
  @include label-bg($name, $img, repeat-x);
  @include internal-reference-selection($name);
}

ul#navigation_pri { clear:both; float:left; list-style-type:none; margin:12px 0 30px 0; padding:0px 0 58px 0; background:url(http://colly.com/images/site/underline.png) repeat-x center bottom; }
.home ul#navigation_pri { margin:12px 0 0 0; padding:0 0 41px 0; background:transparent; }
.external ul#navigation_pri { margin:12px 0 10px 0; padding:0; background:transparent; }

.internal-reference {
  line-height:18px; float:left; width:207px; padding:10px; border:1px solid #DDD; color:#333;
  -webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); -moz-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
  border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; background:url(http://colly.com/images/site/card.png);
  margin:0 10px 0 0;
}

.selected-internal-reference {
  background-color: rgb(255, 255, 255); opacity:1.0;
}

.unselected-internal-reference {
  background-color: rgb(255, 255, 255); opacity:0.6;
}

.internal-reference:hover { background-color: rgb(255, 255, 255); opacity:1.0; background-position:center -30px; }

ul li#biography,
ul li#journal,
ul li#archive,
ul li#contact { @extend .internal-reference; }

ul li#contact { margin:0; }

@include internal-reference("biography", "pig");
@include internal-reference("journal", "butterfly");
@include internal-reference("archive", "bigfish");
@include internal-reference("contact", "crab");

ul#subnav-a,
ul#subnav-b,
ul#subnav-c,
ul#subnav-d { float:left; list-style-type:none; margin:0 0 10px 0; padding:0; line-height:18px; }
ul#subnav-b { margin:0; padding:0 0 50px 0; }
.home ul#subnav-b,
.home ul#subnav-c,
.home ul#subnav-d,
.external ul#subnav-b,
.external ul#subnav-c,
.home ul#subnav-c,
.home ul#subnav-d { margin:0; padding:0 0 10px 0; }
.external ul#subnav-c { margin:0; padding:0 0 50px 0; }
.home ul#subnav-b { margin:0; padding:0 0 50px 0; }

.external-reference {
  float:left;
  width:207px;
  padding:10px;
  margin:0 10px 0 0;
  border:1px solid #DDD;
  text-align:center;
  font-size:13px;
  font-style:italic;
  font-weight:normal;
  color:#d24b21;
  -webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); -moz-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
  border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
  background:url(http://colly.com/images/site/card.png);
}

.last-external-reference {
  margin:0;
}

.external-reference:hover { background-color: rgb(255, 255, 255); opacity: 1.0; }

ul li#twitter,
ul li#flickr,
ul li#lastfm,
ul li#delicious,
ul li#slideshare,
ul li#virb,
ul li#facebook,
ul li#vimeo,
ul li#wallswaps,
ul li#catsizedwhat,
ul li#dribbble,
ul li#gowalla,
ul li#linkedin,
ul li#dopplr { @extend .external-reference; }

ul li#twitter,
ul li#vimeo,
ul li#gowalla { @extend .last-external-reference; }

@include label-bg("twitter", "salamander");
@include label-bg("flickr", "flea");
@include label-bg("lastfm", "grasshopper");
@include label-bg("delicious", "puffer");
@include label-bg("slideshare", "beetle");
@include label-bg("virb", "lobster");
@include label-bg("facebook", "collie");
@include label-bg("vimeo", "tortoise");
@include label-bg("dribbble", "reptile");
@include label-bg("gowalla", "cormorant");
@include label-bg("linkedin", "cormorant2");
@include label-bg("dopplr", "snake");

